*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 9rem;
}
html::-webkit-scrollbar{
    width: .9rem;
}
html::-webkit-scrollbar-thumb{
    background-color: #eee6e6;
    border-radius: 5px;
}
body{
    background-color: #020202;
}
a:hover{
    text-decoration: none;
}
.header-z{
    opacity: .9;
    background-color: #020202;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5rem 7%;
    z-index: 1000;
}
.header-z img{
    width: 80px;
    border-radius: 50%;
}
.header-z .navbar a:hover{
    color:#fff;
    text-decoration: none
}
.header-z .icon-z{
    color: #fff;
    font-size: 2rem;
    margin-left: 2rem;
    cursor: pointer;
}
.user-icon-z{
   color: #111;
   background-color: gray;
   padding: 2px 2px 0px 2px;
   font-size: 2rem;
   cursor: pointer;
   border-radius: 50%;
}
.header-z a span{
    font-size: 1.5rem;
    text-transform: uppercase;
}
#menu-btn{
    display: none;
}
.header-z .search-form{
    position: absolute;
    top: 103%;
    background-color: #fff;
    right: 7%;
    width: 40rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header-z .search-form.active{
    transform: scaleY(1);
}
.header-z .search-form input{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    text-transform: none;
}
.header-z .search-form label{
    font-size: 2.2rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.header-z .cart-item-container{
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    padding: 0 1.5rem;
    height: 80vh;
    width: 35rem;
}
.header-z .cart-item-container.active{
    right: 0;
}
.header-z .cart-item-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.header-z .cart-item-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; right: 0;
    font-size: 2rem;
    cursor: pointer;
}
.header-z .cart-item-container .cart-item .content h3{
    font-size: 2rem;
    padding-bottom: .2rem;
}
.header-z .cart-item-container .cart-item .content .price{
    font-size: 1.5rem;
}
.header-z .cart-item-container .btn{
    margin-top: 5px;
    width: 100%;
    text-align: center;
}
.logo-z {
    color: #eee6e6;
    font-size: 30px;
}
.logo-z span{
    color: #a29c9c;
}
.header-z a{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #a29c9c;
    text-transform: uppercase;
}
.header-z a:hover{
    color: white;
}
@media(max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header-z .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
        display: block;
    }
    .header-z .navbar.active{
        right: 0;
    }
    .header-z .navbar a{
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header-z .search-form{
        width: 90%;
        right: 2rem;
    }
    .header-z .icon{
    font-size: 1rem;
}
.user-icon-z{
   font-size: 1rem;
}
.header-z a span{
    font-size: 1rem;
}
.logo-z{
    font-size: 15px;
}
}
.home-z{
    width: 100%;
    height: 800px;
    display: flex;
    background-image: url(../img/84770f_93b300330b3742f2b1948ef292a91f27~mv2_d_1920_1279_s_2.avif);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.center-z{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.home-z .center-z h1{
    font-size: 6rem;
    color: #fff;
    margin: 20px 0;
    letter-spacing: .5rem;
    text-transform: uppercase;
}
@media(max-width:768px){
    .home-z .center-z h1{
    font-size: 3rem;
    text-align: center;
}
}
.button-z{
      padding: 12px 28px;
      font-size: 2.2rem;
      border: 2px solid white;
      background: transparent;
      color: white;
      cursor: pointer;
      width:250px;
      transition:  0.3s ease;
      font-weight: bold;
}
.button-z:hover {
      background: white;
      color: black;
}
.home-z .arrow-z i{
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
    margin-top: 230px;
}
.social-z{
    height: 150px;
    width: 100px;
    background-color: #020202;
    position: absolute;
    top: 40%;
    right: 0;
    opacity: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 0px;
    position: fixed;
    z-index: 100;
}
.social-z i{
    font-size: 2.5rem;
    margin-bottom: 25px;
    color: white;
    cursor: pointer;
}
.social-z i:hover{
    color: rgb(36, 191, 238);
}
.shop-z{
    display: flex;
    height: 100vh;
}
.shop-z .left-z{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shop-z .left-z h1{
    font-size: 5rem;
    color: #fff;
    margin: 20px 0;
    letter-spacing: .5rem;
    text-transform: uppercase;
}
.shop-z .right-z{
    background-image: url(../img/shop-right.avif);
    height: 100%;
    width: 50%;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media (max-width: 768px) {
    .shop-z {
        flex-direction: column;
    }
    .shop-z .left-z,
    .shop-z .right-z {
        width: 100%;
        height: 50vh; 
    }
    .shop-z .left-z h1 {
        font-size: 2.5rem; 
        letter-spacing: 0.2rem;
    }
}
.categories-z{
    width: 100%;
    display: flex;
}
.categories-z .cat1-z,
.categories-z .cat2-z,
.categories-z .cat3-z{
    width: 33.4%;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.categories-z .cat1-z img,
.categories-z .cat2-z img,
.categories-z .cat3-z img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.cat1-z:hover img,
.cat2-z:hover img,
.cat3-z:hover img{
    transform: scale(1.1);
}
.overlay-z{
    height: 100%;
    transition: .5s;
}
.cat1-z:hover .overlay-z,
.cat2-z:hover .overlay-z,
.cat3-z:hover .overlay-z{
    background-color: #020202;
    opacity: 0.5;
}
.cat1-z h1,
.cat2-z h1,
.cat3-z h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); 
  padding: 10px 20px;
  border-radius: 10px;
}
.cat1-z:hover h1,
.cat2-z:hover h1,
.cat3-z:hover h1{
    opacity: 1;
}
@media (max-width: 768px) {
    .categories-z {
        flex-direction: column;
        width: 100%;
    }
    .categories-z .cat1-z,
.categories-z .cat2-z,
.categories-z .cat3-z{
    width: 100%;
}
}
.sale-z{
    padding-top: 50px;
}
.sale-z .tex-center-z{
    text-align: center;
}
.sale-z .tex-center-z h1{
    font-size: 5rem;
    color: #eee6e6;
}
.sale-z .tex-center-z h4{
    font-size: 2.5rem;
    color: #eee6e6;
    margin-top: 5px;
}
.sale-flex-z{
    width: 80%;
    margin: auto;
    display: flex;
    align-content: center;
}
.sale-flex-z .product-z{
    width: 33%;
    text-align: center;
    color: #eee6e6;
    position: relative;
}
.product-z h3{
    font-size: 3rem;
    margin-bottom: 8px;
}
hr{
    width: 30px;
    background-color: wheat;
    height: 3px;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
}
.sale-flex-z .product-z img{
    width: 100%;
}
.sale-flex-z .product-z del{
    font-size: 1.5rem;
    text-decoration: line-through;
    margin-right: 10px;
    margin-top: 10px;
}
.sale-flex-z .product-z span{
    font-size: 1.5rem;
    margin-top: 10px;
}
.product-z button{
    display: none;
}
.product-z:hover .product-content-z{
    display: none;
}
.product-z:hover button{
    display: inline-block;
}
@media (max-width: 768px) {
    .sale-flex-z{
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .sale-flex-z .product-z{
      width: 100%;
}
}
.about-z{
    width: 100%;
    background-image: url(../img/about.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 80vh;
    margin-top: 30px;
}
.about-z .about-left-z{
    width: 50%;
    background-color: #020202;
    opacity: .7;
    color: #fff;
}
.about-left-z .content-z{
    height: 100%;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.about-left-z .content-z h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
.about-left-z .content-z p{
    font-size: 2rem;
}
@media (max-width: 768px) {
.about-z .about-left-z{
    width: 100%;
    background-color: #020202;
    opacity: .7;
    color: #fff;
}
.about-left-z .content-z p{
    font-size: 1.3rem;
}
}
.contact-z{
    padding-top: 60px;
    display: flex;
    color: #eee6e6;
}
.inputs-z{
    width: 50%;
}
.first-input-z{
    width: 80%;
    margin: auto;
}
.first-input-z input{
    background: transparent;
    padding: 10px;
    border: 3px solid #fff;
    margin-left: 15px;
    margin-right:10px ;
    color: #eee6e6;
    margin-bottom: 20px;
}
.first-input-z label{
    font-size: 2rem;
}
.first-input-z input[type="email"] {
  width: 100%;
  margin-top: 10px;
}
.first-input-z textarea{
    background: transparent;
    padding: 10px;
    border: 3px solid #fff;
    margin-left: 15px;
    margin-right:10px ;
    color: #eee6e6;
    margin-bottom: 20px;
    width: 100%;
}
.subject-z {
  width: 100%;
}
.first-input-z input[type="submit"] {
  width: 30%;
}
.first-input-z input[type="submit"]:hover {
  border: 3px solid #a29c9c;
  background: transparent;
  color: #a29c9c;
}
.contact-z .contact-content-z{
    width: 50%;
    margin: 50px auto;
}
.contact-z .contact-content-z h1{
    font-size: 4rem;
    margin-bottom: 20px;
}
.contact-z .contact-content-z p{
    font-size: 2rem;
    margin-bottom: 20px;
    width: 75%;
}
@media (max-width: 768px) {
.contact-z{
    flex-direction: column;
}
.contact-z .contact-content-z{
    width: 100%;
    margin: 50px auto;
}
.inputs-z{
    width: 100%;
}
.first-input-z{
    width: 100%;
}
.first-input-z input[type="email"] {
  width: 60%;
}
.first-input-z input[type="text"] {
  width: 60%;
}
.subject-z {
  width: 10%;
}
.first-input-z input[type="submit"] {
  width: 60%;
}
.first-input-z textarea{
    width: 60%;
}
.first-input-z label{
    font-size: 1rem;
}
.contact-z .contact-content-z h1{
    font-size: 2.4rem;
    margin-bottom: 20px;
}
.contact-z .contact-content-z{
    width: 90%;
    margin-left: 10px;
}
.contact-z .contact-content-z p{
    width: 90%;
    font-size: 1rem;
}
}
footer{
    padding: 30px;
    background-color: #3a3232;
}
footer .f-z{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #eee6e6;
    font-size: 1.5rem;
}
.f-z a{
    margin-right: 16px;
    font-size: 1.5rem;
    color: #eee6e6;
}
@media (max-width: 768px) {
footer .f-z{
    width: 90%;
    font-size: 1rem;
}
.f-z a{
    margin-right: 5px;
    font-size: 1rem;
    color: #eee6e6;
}
}